<!--<h4> Creating a new Post </h4>

<h4>Rails model-backed form helpers</h4> -->

<%#= render 'form'%> 

<!-- changing to be consistent with Chris' app -->

<%= render 'shared/content_title', title: 'Edit post' %>

<!--<h4>Rails model-backed form helpers</h4> -->

<%= render 'shared/errors', var: @post %>
<div class='well'>
<%= render 'form' %>
</div>