<p>
	<%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%=  @post.description %>
</p>
<li>
    <%= link_to 'Edit Post', edit_post_path %>  <!-- do not use the string '/post/new' instead always use named route -->
  </li>
<hr/>