<!--<h4>New Category</h4> --> 
<!-- using content_title partial to display title -->
<%= render 'shared/content_title', title: "New Category" %>

<%= render 'shared/errors', var: @category %>



<%= render 'form' %>